# ===== Java compiled files =====
*.class

# ===== Eclipse IDE files =====
.project
.classpath
.settings/

# ===== Build folders =====
bin/
target/

# ===== Logs =====
*.log

# ===== OS files =====
.DS_Store
Thumbs.db

# ===== Environment variables =====
.env
